@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    font-family:'roboto' ;
    font-size: 18px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    margin: 0,auto;
    width: 256px;
    text-align: center;
    border: 6px solid greenyellow;
    background: rgb(83, 80, 80);
    border-radius: 5px;


}

.keyboard{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows:minmax(60px,auto) ;
}

input[type="text"]{
    margin-top: 10px;
    margin-bottom: 4px;
    height: 60px;
    width: 219px;
    background-color: rgb(189, 194, 194);
    border: 0px;
    color: #ffffff;
    text-align: right;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;

}
#clear{
    grid-column: 1/3;
    grid-row: 1;
    color: blue;
}
#backspace{
color: rgb(6, 133, 91);
}
button{
    margin:5px ;
    border: none;
    border-radius: 5px;
    
}
input:focus,
input:active,
button:active,
button:focus{
 outline: none;
}
.hegihlight{
    background-color: aqua;
}